<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codental">
        <activity
            android:name=".Codigo"
            android:exported="false" />
        <activity
            android:name=".InfoPrecioActivity"
            android:exported="true"
            android:label="Servicio Y Precio"
            android:parentActivityName=".PreciosActivity" />
        <activity
            android:name=".InfoTratamientoActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".TratamientosActivity" />
        <activity
            android:name=".NuevoTratamientoActivity"
            android:exported="true"
            android:parentActivityName=".PacientesActivity" />
        <activity
            android:name=".TratamientosActivity"
            android:exported="true"
            android:label="Tratamientos"
            android:launchMode="singleTop"
            android:parentActivityName=".InfoPacienteActivity" />
        <activity
            android:name=".NuevoAbonoActivity"
            android:exported="true"
            android:label="Nuevo Abono de Paciente"
            android:parentActivityName=".AbonosActivity" />
        <activity
            android:name=".AbonosActivity"
            android:exported="true"
            android:parentActivityName=".InfoTratamientoActivity" />
        <activity
            android:name=".NuevoPrecioActivity"
            android:exported="true"
            android:parentActivityName=".PreciosActivity" />
        <activity
            android:name=".PreciosActivity"
            android:exported="true"
            android:label="Lista de Precios"
            android:launchMode="singleTop"
            android:parentActivityName=".InicioActivity" />
        <activity
            android:name=".InfoGastoYEgresoActivity"
            android:exported="true"
            android:label="Gasto/Egreso"
            android:parentActivityName=".GastosYEgresosActivity" />
        <activity
            android:name=".NuevoGastoYEgresoActivity"
            android:exported="true"
            android:parentActivityName=".GastosYEgresosActivity" />
        <activity
            android:name=".GastosYEgresosActivity"
            android:exported="true"
            android:label="Gastos y Egresos"
            android:launchMode="singleTop"
            android:parentActivityName=".InicioActivity" />
        <activity
            android:name=".InfoPacienteActivity"
            android:exported="true"
            android:label="Paciente"
            android:launchMode="singleTop"
            android:parentActivityName=".PacientesActivity" />
        <activity
            android:name=".NuevoPacienteActivity"
            android:exported="true"
            android:parentActivityName=".PacientesActivity" />
        <activity
            android:name=".PacientesActivity"
            android:exported="true"
            android:label="Mis Pacientes"
            android:launchMode="singleTop"
            android:parentActivityName=".InicioActivity" />
        <activity
            android:name=".InicioActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.CodentalNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>